/* Styling untuk body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Styling untuk header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Styling untuk navigasi */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

/* Styling untuk section */
section {
    padding: 20px;
    background-color: white;
    margin: 10px;
}

/* Styling untuk footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}